pkgbase = kodi-audioencoder-wav
	pkgdesc = kodi audioencoder addon for wav
	pkgver = 20150810.78bbca0
	pkgrel = 2
	url = https://github.com/xbmc/audioencoder.wav
	arch = i686
	arch = x86_64
	groups = kodi-addons
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = kodi
	source = kodi-audioencoder-wav::git://github.com/xbmc/audioencoder.wav.git#commit=78bbca0
	sha256sums = SKIP

pkgname = kodi-audioencoder-wav

